<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findamate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindAMate"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.PopupContactActivity"></activity>
        <activity
            android:name=".activity.PopupMatchingSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.LogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PopupStudentSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.PopupClassSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.WaitingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MatchingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>